#
# emacs
#
*~
\#*\#

#
# Erlang
#
.cowboy.plt
.erlang.mk.packages.*
_rel
deps
ebin
logs
logfile
relx
test/*.beam
.eunit
*.o
*.beam
*.plt
erl_crash.dump

#
# Mac FS
#
.DS_Store

#
# misc
#
priv/bitcoin-tool
